<div class="ui middle aligned selection divided list">

<!--  <-->
<!--  @for (collection of collections; track collection.title) {-->
<!--    <a class="item en-collection-list-item" [collection]="collection" [routerLink]="collection.id.toString()"></a>-->
<!--  }-->

<!--  @for (todo of todos; track todo.title) {-->
<!--    <a class="item">-->
<!--      <div class="content" >-->
<!--        <a class="header"><h3>{{ todo?.title }}</h3></a>-->
<!--        <div class="description">{{ todo?.description }}</div>-->
<!--        <div class="metadata">-->
<!--          <span>Created by: {{ todo?.creator?.firstName }} {{ todo?.creator?.lastName }}</span>-->
<!--        </div>-->

<!--        <div class="metadata">-->
<!--        <span>Shared with:-->
<!--          @for (collaborators of todo?.collaborators; track collaborators ; let l =$last) {-->
<!--            <span>{{ collaborators.firstName }} {{ collaborators.lastName }}@if(!l){<span>, </span>}</span>-->
<!--          }-->
<!--        </span>-->
<!--        </div>-->
<!--        <div class="extra">ID: {{ todo?.id }}</div>-->
<!--      </div>-->
<!--    </a>-->
<!--  }-->
</div>
